body {
	width: 1400px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	padding: 0;
}

header {
	background-color: #333;
	padding: 15px;
	color: white;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #ddd;
	padding: 10px;
}


nav a {
	margin: 0 15px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	padding: 8px;
	border-radius: 5px;
}

nav a:hover {
	color: #555;
}
/* Style for the active link */
nav a.active {
	color: #fff;
	background-color: #333;
	padding: 8px;
	border-radius: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.shop-item {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
}

.shop-item button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.cart {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #ddd;
}

.cart-item button {
	background-color: #ff0000;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.quantity-buttons button {
	background-color: #0073e6;
	color: white;
	border: none;
	padding: 5px;
	width: 25px;
	cursor: pointer;
}

#finalize {
	background-color: #0073e6;
	font-size: 16px;
	color: white;
	border: none;
	padding: 10px;
	/*width: 25px;*/
	cursor: pointer;
}
